<%- include('./partials/header.ejs') %> 
<body>
    <%- include('./partials/navbar.ejs') %>
    <div class="container">
        <div class="card bg-dark text-light">
            <div class="card-header">
                <h3><%= pergunta.title %></h3>
            </div>
            <div class="card-body">
                <p><%= pergunta.description %></p>
            </div>
            <div class="card-footer">
                <form action="/resposta" method="POST">
                    <input required type="hidden" name="questionID" value="<%= pergunta.id %>">
                    <label for="resp"><strong>Responder</strong></label>
                    <textarea required name="body" id="resp" class="form-control" placeholder="Digite sua resposta"></textarea>
                    <button type="submit"class="btn btn-light mt-2">Enviar Resposta</button>
                </form>
            </div>
        </div>
        <hr>
        <h3>Respostas</h3>
        <% respostas.forEach(resposta => {%>
            <div class="card bg-dark text-light mb-4">
                <div class="card-body">
                    <p><%= resposta.body %></p>
                </div>
            </div>
        <% }) %>
    </div>

</body>
<%- include('./partials/footer.ejs') %> 